/* 开关整体 */
.switch {
  display: flex;
  align-items: center;
  width: 180px;
  height: 90px;
  padding: 5px;
  border-radius: 45px;
  background-color: #ffe09d;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* switch 默认为夜间模式 */
.switch::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./img/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px auto;
  transition: all 0.3s ease;
  position: relative;
  margin-left: 0;
  box-shadow: 2px 4px 10px -2px rgba(227, 193, 120, 0.9);
}

/* switch 按钮 checked 时，按钮空余位置的颜色的变化 */
input[type="checkbox"]:checked + .switch {
  background-color: #1f1f1f;
}

/* switch 按钮 checked 时，icon 的变化 */
input[type="checkbox"]:checked + .switch::before {
  margin-left: 90px;
  background-color: #313131;
  background-image: url("./img/moon.svg");
  box-shadow: -2px 4px 10px -2px #000;
}

/* icon 长按时添加形变样式 circle-screw，并且此时未 checked */
.switch.circle-screw::before {
  width: 100px;
}

/* 未被 checked 时，长按 icon 的效果 */
input[type="checkbox"]:checked + .switch.circle-screw::before {
  width: 100px;
  margin-left: 72px;
}
